*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quattrocento Sans', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background-color: #1d2126;
}
.main_header{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 81px;
}
.main_header img{
    height: 19px;
    width: auto;
    margin: 31px 0;
}
nav{
    float: right;
}
nav ul{
    display: flex;
}
nav ul li{
    margin: 26px 14px 25px 14px;
    padding: 4px 10px;
    border:2px solid #1d2126;
}
nav ul li:first-child{
    margin: 26px 14px 25px 14px;
    padding: 4px 10px;
    border:2px solid #23b7a4;
    border-radius: 5px;
}
nav ul li a{
    color: #a4aead;
    font-size: 11px;
}
nav ul li :first-child a{
    color: #23b7a4;
    font-size: 11px;
}
nav ul li:hover{
    border:2px solid #5b6168;
    border-radius: 5px;
    transition: 0.5s;
}
.banner{
}
.banner_main{
    background-image: url("img/pic.png");
    background-repeat: repeat-x;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}
.banner_main_text{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 225px;
    padding-bottom: 225px;
}
.banner_main_text h2{
    color: #ffff;
    font-size: 28px;
    line-height: 1.16;
    margin-bottom: 35px;
}
.banner_main_text p{
    color: #ccd0d7;
    margin: 44px 0;
    font-size: 12.5px;
    line-height: 1.625;
}
.banner_main_text ul li{
    display: inline-table;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px 20px;
    margin-right: 11px;
}
.banner_main_text ul li:hover{
    border:2px solid #23b7a4;
    background-color: #23b7a4;
    transition: 0.5s;
}
.banner_main_text ul li a{
    color: white;
}
.modest{
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    margin-bottom: 100px;
}
.modest h2{
    border-left: 10px solid #e1e6ea ;
    padding-left: 15px;
    margin-bottom: 10px;
    color: #292f36;
    font-size: 28px;
    line-height: 1.16;
    margin-bottom: 65px;
}
.content{
    display: flex;
}
.modest_left{
    width: 60%;
    padding-right: 20px;
}
.modest_left p{
    margin-bottom: 30px;
    color: #b0b1b3;
    font-size: 12.5px;
    line-height: 1.625;
    margin-bottom: 40px;
}
.modest_left p b{
    color: #8d8f92;
}

.modest_left ul li{
    display:inline-table;
}
.modest_left ul li{
    margin-right: 1px;
    margin-top: 15px;
}
.modest_left img{
    height: 60px;
    width: auto;
}
.modest_right_list{
    margin-bottom: 15px;
    counter-reset: section;
}
.modest_right_list h3{
    color:#292f36;
    margin-bottom: 15px;
}
.modest_right_list p{
    color:#b0b1b3;  
}
.team{
    padding-top: 20px;
    padding-bottom: 100px;
}
.team_main{
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
}
.team_main h2{
    border-left: 10px solid #e1e6ea;
    padding-left: 15px;
    margin-bottom: 25px;
    color: #292f36;
}
.team_content{
    display: flex;
}
.team_content_item img{ 
    width: 100%;
    height: auto;
}
.team_content_item{
    width: 20%;
    background-color: #e1e6ea;
    margin-right: 80px;
}
.team_content_item:last-child{
    width: 20%;
    background-color: #e1e6ea;
    margin-right: 0;
}
.team_content_item:hover{
    background-color: #3a454d;
    color: #ffff;
}
.team_content_item h3{
    color: #292f36;
    padding: 5px 10px;
}
.team_content_item p{
    color: #bdc0c4;
    padding: 10px;
    padding-bottom: 15px;
}
.work{
    background-color: #3a454d;
}
.work_main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 85px;
}
.work_main h2{
    border-left: 10px solid #4e5a62;
    padding-left: 15px;
    margin-bottom: 60px;
    color: #ffff;
}
.work_main_content{
    display: flex;
    margin-bottom: 30px;
}
.work_item{
    margin-right: 58px;
}
.work_item:last-child{
    margin-right: 0px;
}
.work a{
    border: 2px solid #fff;
    padding: 13px 20px;
    color: white;
    margin: 20px;
}
.wedo::after{
    content: '';
    display: block;
    clear: both;
}















